In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [100]:
 arr = np.array([
    ['Yes', 'No', 'Mild', 'Yes','No' ],
    ['Yes', 'Yes', 'No', 'No', 'Yes'],
    ['Yes','No','Strong','Yes','Yes'],
    ['No','Yes','Mild','Yes','Yes'],
    ['No','No','No','No','No'],
    ['No','Yes','Strong','Yes','Yes'],
    ['No','Yes','Strong','No','No'],
    ['Yes','Yes','Mild','Yes','Yes'],
     ['Yes','No','Mild','Yes','?']
    ])

In [101]:
arr

array([['Yes', 'No', 'Mild', 'Yes', 'No'],
       ['Yes', 'Yes', 'No', 'No', 'Yes'],
       ['Yes', 'No', 'Strong', 'Yes', 'Yes'],
       ['No', 'Yes', 'Mild', 'Yes', 'Yes'],
       ['No', 'No', 'No', 'No', 'No'],
       ['No', 'Yes', 'Strong', 'Yes', 'Yes'],
       ['No', 'Yes', 'Strong', 'No', 'No'],
       ['Yes', 'Yes', 'Mild', 'Yes', 'Yes'],
       ['Yes', 'No', 'Mild', 'Yes', '?']], dtype='<U6')

In [102]:
df = pd.DataFrame(arr,columns=['Chills','Running_Nose','Headache','Fever','Flu?'])

In [103]:
df.head()

  Chills Running_Nose Headache Fever Flu?
0    Yes           No     Mild   Yes   No
1    Yes          Yes       No    No  Yes
2    Yes           No   Strong   Yes  Yes
3     No          Yes     Mild   Yes  Yes
4     No           No       No    No   No

In [104]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ylabelLE = LabelEncoder()
df['Chills'] = le.fit_transform(df['Chills'])
df['Running_Nose'] = le.fit_transform(df['Running_Nose'])
df['Headache'] = le.fit_transform(df['Headache'])
df['Fever'] = le.fit_transform(df['Fever'])
df['Flu?'] = ylabelLE.fit_transform(df['Flu?'])

In [105]:
df

   Chills  Running_Nose  Headache  Fever  Flu?
0       1             0         0      1     1
1       1             1         1      0     2
2       1             0         2      1     2
3       0             1         0      1     2
4       0             0         1      0     1
5       0             1         2      1     2
6       0             1         2      0     1
7       1             1         0      1     2
8       1             0         0      1     0

In [106]:
X_test = df.iloc[8].drop('Flu?')
X_test = [X_test]

In [107]:
df = df.drop(8,axis=0)
df

   Chills  Running_Nose  Headache  Fever  Flu?
0       1             0         0      1     1
1       1             1         1      0     2
2       1             0         2      1     2
3       0             1         0      1     2
4       0             0         1      0     1
5       0             1         2      1     2
6       0             1         2      0     1
7       1             1         0      1     2

In [108]:
X = df.drop('Flu?',axis=1)
y = df['Flu?']

In [109]:
from sklearn.naive_bayes import GaussianNB

In [110]:
model = GaussianNB()
model.fit(X,y)

GaussianNB()

In [111]:
ypred = model.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [98]:
ypred

array([2])

In [114]:
ylabelLE.classes_[ypred][0]

'Yes'